@import '~antd/es/style/themes/default.less';

.main {
  width: 500px;
  margin: 0 auto;
  // background-color: rgb(135, 221, 221);
  .header {
    background-color: azure;
    height: 36px;
    position: relative;
    .user {
      position: absolute;
      right: 2px;
      margin: 2px;
      .register {
        margin-left: 2px;
      }
      .backHome {
        margin-left: 2px;
      }
    }
  }
  .login {
    width: 450px;
    height: 600px;
    margin: 20px auto;
    background-color: rgb(228, 217, 203);
    .loginDetail {
      line-height: 600px;
      background-color: cadetblue;
    }
  }
}